@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');



* {
    margin: 0;
    padding: 0px;
    font-size: 14px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    width: 800px;
    margin: 0px auto;
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.semana{
    width: 800px;
    white-space: nowrap;
    overflow: visible;
    display: flex;
    
}

main section {
    width: 50%;
    flex-grow: 1;
}

.column-two-margin{
    margin-left: 170px;
}

.box {
    white-space: nowrap;
    overflow: visible;
    padding-left: 10px;
}

.list {
    white-space: nowrap;
    overflow: visible;
    padding-left: 20px;
}

input {
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    font-size: 1em;
}

input[inputNoMargin]{
    margin-top: 2px;
}

input[txtBold], span[txtBold] {
    font-weight: 700;
}

.bullet{
    list-style-type: disc;
}

input[fnt12], span[fnt12] {
    font-size: 1.2em;
}
input[fnt08], span[fnt08] {
    font-size: 0.8em;
}

.label {
    font-size: 1em;
    font-weight: 700;
    color: rgb(60, 60, 60);
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subtitle {
    margin-top: 20px !important;
    padding-left: 10px !important;
    font-size: 1.3em;
    font-weight: 700;
    color: black;
    margin: 0;
    padding: 0;
}

hr {
    border-top: 3px solid rgb(100, 100, 100);
}

span {
    line-height: 1px;
    margin-right: 5px;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    white-space: nowrap;
    overflow: visible;
}

li::before {
    content: "•";
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 50px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    
}

ul li.color-darkred::before {
    color: rgb(130, 0, 0);
}

ul li.color-darkgoldenrod::before {
    color: rgb(184, 134, 11);
}

.bg-darkgoldenrod {
    padding: 2px;
    color: white;
    background-color: rgb(184, 134, 11);
}

.bg-grey {
    padding: 2px;
    color: white;
    background-color: rgb(90, 90, 90);
}

.bg-darkred {
    padding: 2px;
    color: white;
    background-color: rgb(100, 0, 0);
}

.btn-genpdf {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.btn-genpdf:hover {
    background-color: #f0f0f0;
}

.btn-deletetema {
    font-size: 12px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

@media print {
    #btn {
        display: none;
    }

    #btn-delete1{
        display: none;
    }

    #btn-delete2{
        display: none;
    }
}